################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Newtonsoft.Json.11.0.1
/.vs/TwoDaysCSharpIntensive/v15
/TwoDaysCSharpIntensive/bin/Debug
/TwoDaysCSharpIntensive/obj/Debug
